@{
    ViewBag.Title = "河南移动流量邀请";
}
<link href="~/Content/css/index.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<body>
    <div class="window">
        <div class="title">
            <span>号码</span>
            <input type="text" id="phone" style="color:black;width:100px;" />
            <span>号段</span>
            <input type="text" id="numArea" style="color:black;width:70px;" />
            <span>起</span>
            <input type="text" id="numRangeLeft" style="color:black;width:40px;" />
            <span>止</span>
            <input type="text" id="numRangeRight" style="color:black;width:40px;" />
            <input type="button" onclick="start()" value="提交" style="color:black" />
        </div>
        <div id="text">
            <ul>
                <li>Welcome...</li>
            </ul>
        </div>
    </div>
</body>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        function start() {
            //无代理
            var conn = $.hubConnection();
            var proxy = conn.createHubProxy("myHub");
            var msg = $("#phone").val() + ";" + $("#numArea").val() + ";" + $("#numRangeLeft").val() + ";" + $("#numRangeRight").val();
            //注册客户端方法 “hello”
            proxy.on("SendMessage", function (data) {
                console.log("客户端方法被调用");
                debugger
                $("ul").append("<li>" + data + "</li>");   
                $("#text").scrollTop($("#text").scrollTop() + 32);
            });
            conn.start().done(function (data) {
                //调用服务器方法
                proxy.invoke("SendMessage", msg);
            });
        }
        
    </script>
}